h1
   color: red
   font-size: 50px
h2 
   color: blue 

.block
   background-color: black
   h3
      color: white
   &_color
      background-color: #fff
      button
         width: 250px
   .block_color
      color: pink
      